[Desktop Entry]
Type=Application
Name=Window Shuffler
Exec=/usr/share/budgie-desktop/windowshuffler/matrix_wrapper --menulaunch
Icon=windowshuffler-symbolic
Categories=GTK;X-GNOME-Utilities;
